*{
  margin: 0;
  padding: 0;
}

body{
background: #B3CFE4;
}

.gif{
  background: #5E8FA4;
  margin-top: -10%;
}

nav{
display: flex;
flex-direction: row;
justify-content: center;
gap: 200px;
width: 100%;
padding-top: 2%;
padding-bottom: 3%;
font-family: Koulen;
font-size: 80px;
font-style: normal;
font-weight: 400;
}

a:hover {
  color: white;
}

a{
  text-decoration: none;
  color: black;
}

nav img{
margin-top: 5px;
width: 170px;
height: 150px;
}

.aboupage{
  display: flex;
  align-content: column;
  margin-top: 8%;
  
}

.photos{
  display: flex;
  flex-direction: column;
}

.about{
  display: flex;
  align-content: row;
  margin-left: 10%;
  gap: 10%;
  margin-bottom: 5%;
}

h1{
font-family: Raleway;
font-size: 40px;
font-style: normal;
font-weight: 700;
margin-top: 100px;
text-transform: uppercase;
color:white;
}

h2{
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 600;
width: 620px;
letter-spacing: 1px;
line-height: 1.5;
color: #1d3557;
}

h3{
font-family: Raleway;
font-size: 80px;
font-style: normal;
font-weight: 700;
margin-top: 100px;
text-transform: uppercase;
color:white;
align-content: center;
}

p{
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 400;
width: 620px;
letter-spacing: 1px;
line-height: 1.5;
color: #1d3557;
}

.portrait{
  margin-top: 10%;
  width: 425px;
  height: 575px;
  border-radius: 10px;
}

.hiking{
  margin-top: 10%;
  width: 425px;
  height: 425px;
  border-radius: 10px;
}

.landing{
  width: 100%;
  height: 100%;
}

.intro{
  margin-top: 30px;
 margin-left: 30%;
}

.explore{
gap: 10px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
margin-top: 75px;
}

.Spotify{
  margin-top: 5px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  width: 620px;
  gap: 20px;
}

.VSCO{
  display: flex;
  flex-direction: row;
  margin-left: 15px;
  width: 300px;
  height: 600px;
  gap: 20px;
}

.VSCO img{
  border-radius: 20px;
}

.Chipotle{
  margin-top: 630px;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  width: 300px;
  height: 600px;
  gap: 20px;
}

.Chipotle img{
  border-radius: 20px;
}

.instagram{
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 600px;
  padding: 2%;
  gap: 20px;
  margin-left: 715px;
  margin-top: -637px;
}

.instagram img{
  border-radius: 20px;
}

.REI{
  display: flex;
  flex-direction: row;
  margin-top: -310px;
  margin-left: -985px;
  width: 300px;
  height: 600px;
  gap: 30px;
}

.REI img{
  border-radius: 20px;
}

.Exercise{
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 600px;
  padding: 2%;
  gap: 20px;
  margin-left: 310px;
  margin-top: -12px;
}

.Exercise img{
  border-radius: 20px;
}

.HProject{
  display: flex;
  width: 600px;
  height: 300px;
  margin-left: 90px;
  margin-top: -340px;
}

.HProject img{
  border-radius: 20px;
}

.homepage{
  display: flex;
  align-content: row;
  margin-left: 7%;
  margin-top: 5%;
}

.home{
  display: flex;
  flex-direction: column;
  margin-top: -7%;
}

.homeimg{
  display: flex;
  width: 40%;
  margin-left: 7%;
  border-radius: 20px;
}

.welcome{
  margin-top: 7%;
}

.footer {
  margin-top: 5%;
  display: flex;
  align-items: row;
  width: 100%;
  height: 60px; 
  background-color: #1d3557;
  justify-content: end;
  gap: 10px;
}

.footer img{
  margin-top: 7px;
  margin-right: 10px;
  width: 50px;
  height: 50px;
}